<div class="row">
   <!-- ======= Portfolio Details Section ======= -->
   <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-b">
            CHAT
          </h3>
          <div class="line-mf"></div>
        </div>
      </div>
      <div class="row gy-4">
        <div class="col-12">
          <div class="portfolio-info">
            <p>
              Esta aplicación web tiene la funcionalidad de permitir la comunicación en tiempo real con los usuarios registrados en la aplicación, ofrece una experiencia similar a whatsapp web gracias a su interfaz. Además permite gestionar la información de perfil del usuario(correo, contraseña, foto), asi como el registro de nuevos usuarios e inicio de sesión.
            </p>
          </div>
        </div>
        <div class="col-lg-8">
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/proyects/chat/conversation.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/proyects/chat/emojis.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/proyects/chat/login.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/proyects/chat/profile.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/proyects/chat/register.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <p><strong> Tecnologías utilizadas</strong></p>
              <li>
                  Laravel
              </li>
              <li>
                  Vue JS
              </li>
              <li>
                  Socket.io
              </li>
              <li>
                  HTML, CSS, Bootstrap
              </li>
              <li>
                MySQL
              </li>
              <br>
              <li>
                URL de GitHub: <a href="https://github.com/JovaniMR/messenger"
                        target="_blank" style="color: blue">Chat</a>
              </li>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Details Section -->
</div>