<div class="row">
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
     <div class="container">
       <div class="col-sm-12">
         <div class="title-box text-center">
           <h3 class="title-b">
             PINTURILLO
           </h3>
           <div class="line-mf"></div>
         </div>
       </div>
       <div class="row gy-4">
         <div class="col-12">
           <div class="portfolio-info">
             <p>
              Esta aplicación web tiene la funcionalidad de dibujar en tiempo real junto a otros usuarios por medio de un grupo, el cual permite unirte mediante un nickname. Permite además visualizar los usuarios conectados (en linea), enviar y recibir mensajes en tiempo real con los usuarios que se encuentran conectados (chat de grupo). 
             </p>
           </div>
         </div>
         <div class="col-lg-8">
           <div id="carouselExampleIndicators" class="carousel slide">
             <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/proyects/pinturillo/inicio.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/proyects/pinturillo/principal.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/proyects/pinturillo/1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/proyects/pinturillo/chat.jpg" class="d-block w-100" alt="...">
              </div>
             </div>
             <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             </button>
             <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
             </button>
           </div>
         </div>
  
         <div class="col-lg-4">
           <div class="portfolio-info">
            <p><strong> Tecnologías utilizadas</strong></p>
            <li>
                HTML, CSS, Bootstrap, Javascript
            </li>
            <li>
                Angular (v15.x)
            </li>
            <li>
                Node js
            </li>
            <li>
                Express
            </li>
            <li>
                Socket io
            </li>
            <br>
        <p><strong>Información</strong></p>
            <li>
                URL de GitHub Frontend: <a href="https://github.com/JovaniMR/app_notes"
                        target="_blank" style="color: blue">Pinturillo frontend</a>
            </li>
            <li>
                URL de GitHub Backend: <a href="https://github.com/JovaniMR/app_notes"
                        target="_blank" style="color: blue">Pinturillo backend</a>
            </li>
            <li>
                URL video demo: <a href="https://youtu.be/7s-XFWzCMUQ"
                        target="_blank" style="color: blue">Pinturillo demo</a>
            </li>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!-- End Portfolio Details Section -->
  </div>