 <!-- ======= Hero Section ======= -->
<div class="row">
  <div id="hero" class="hero route bg-image" style="background-image: url(../../../assets/principal/wallpaper.jpg)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
          <h1 class="hero-title mb-4 animate__animated animate__backInDown">< Hola, soy Jovani Martinez /></h1>
          <p class="hero-subtitle animate__animated animate__backInLeft"><span> Ingeniero en Software </span></p>
        </div>
    </div>
  </div>
</div>
  <!-- End Hero Section -->
  