<!-- ======= Portfolio Section ======= -->
<div class="row">
    <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-b">
                  Proyectos personales
                </h3>
                <p class="subtitle-a">
                  Estos son algunos de los proyectos que he realizado en forma de práctica.
                  <br>
                  Por cuestiones de privacidad no es posible mostrar los proyectos que he realizado dentro de las empresas.
                  </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="work-box">
                    <div class="work-img">
                      <img src="assets/proyects/chat/conversation.png" alt="" class="img-fluid">
                    </div>
                  <div class="work-content">
                    <div class="row">
                      <div class="col-sm-8">
                        <h2 class="w-title">Chat</h2>
                        <div class="w-more">
                          <span class="w-ctegory">Aplicación web</span> / <span class="w-date">2019</span>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="w-like">
                          <a routerLink="chat"> <span class="bi bi-plus-circle"></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="work-box">
                  <div class="work-img">
                    <img src="assets/proyects/notes/1.png" alt="" class="img-fluid">
                  </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">App notes</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Aplicación web</span> / <span class="w-date">2020</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <a routerLink="app_notes"> <span class="bi bi-plus-circle"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="work-box">
                  <div class="work-img">
                    <img src="assets/proyects/ecommerce/1.png" alt="" class="img-fluid">
                  </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Ecommerce</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Aplicación web</span> / <span class="w-date">2020</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <a routerLink="ecommerce"> <span class="bi bi-plus-circle"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="work-box">
                <div class="work-img">
                  <img src="assets/proyects/pinturillo/inicio.jpg" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Pinturillo</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Aplicación web</span> / <span class="w-date">2023</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <a routerLink="pinturillo"> <span class="bi bi-plus-circle"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- End Portfolio Section -->
</div>