<div class="row">
  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-b">ECOMMERCE</h3>
          <div class="line-mf"></div>
        </div>
      </div>
      <div class="row gy-4 mb-5">
        <div class="col-12">
          <div class="portfolio-info">
            <p class="text">
              Tienda online de venta de suplementos alimenticios. Esta
              aplicación web tiene distintas funcionalidades tanto del lado del
              usuario comprador, como del lado del usuario vendedor.
              <br />
              <br />
              <strong>Usuario Comprador: </strong>
              Tiene la posibilidad de registrarse, iniciar sesión, visualizar,
              añadir al carrito de compras y pagar mediante paypal una variedad
              de productos, así como visualizar los pedidos que ha realizado.
              <br />
              <br />
              <strong>Usuario vendedor:</strong>
              Tiene la posibilidad de registrarse, iniciar sesión como
              administrador, gestionar productos(crear, editar, eliminar) y
              visualizar los pedidos que han realizado los usuarios compradores,
              así como cambiar el status del envio de dichos pedidos.
              <br />
            </p>
          </div>
        </div>
        <div class="col-lg-8">
          <app-project-slider [slider]="slider"></app-project-slider>
        </div>
        <div class="col-lg-4">
          <app-project-info [projectInfo]="projectInfo"></app-project-info>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Details Section -->
</div>
