
<!-- Header -->
<div class="row">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand">PORTAFOLIO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <div class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="inicio" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cv" routerLinkActive="active">CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="proyectos" routerLinkActive="active">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="cursos" routerLinkActive="active">Cursos</a>
          </li>
        </div>
    </div>
  </nav>
</div>
<!--End Header --> 