<div class="row">
    <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-b">
                  Cursos
                </h3>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <img src="assets/courses/css.jpg" class="img-fluid" alt="Master en CSS">
            </div>
            <div class="col-lg-6 col-sm-12">
              <img src="assets/courses/web_modernas.jpg" class="img-fluid" alt="web modernas">
            </div>
          </div>
        </div>
    </section>
</div>          